
.skillspart{
    background:linear-gradient(rgb(19, 19, 19),rgb(66, 65, 65));
    text-transform: uppercase;
    width: 100%;
    height: 270vh;
}
h1{
    text-align: center;
}
h3{
    margin: 5px;
}
.skill{
    width: 500px;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(26, 26, 26, 0.25),0 10px 10px rgba(224, 212, 212, 0.22);
    background-color: rgb(36, 36, 36);
}
.skill li{
    margin: 20px 0;
    padding: 10px;
}
.skill:hover{
    cursor: pointer;
    box-shadow: 0 14px 28px rgba(97, 206, 155, 0.25),0 10px 10px rgba(69, 157, 207, 0.22);
}
.bar{
    background: linear-gradient(black,rgb(49, 49, 49));
    display: block;
    height: 15px;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),0 10px 10px rgba(224, 212, 212, 0.22);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.bar:hover{
    box-shadow: 0 14px 28px rgba(97, 206, 155, 0.25),0 10px 10px rgba(69, 157, 207, 0.22);
    cursor: pointer;
}
.bar span{
    height: 20px;
    float: left;
    background: linear-gradient(135deg,rgba(236,0,140,1)0%,hwb(0 40% 1%)100%);
}
.html{
    width: 90%;
    animation: html 3s;
}
.C{
    width: 85%;
    animation: C 3s;
}
.java{
    width:40%;
    animation: java 3s;
}
.Python{
    width: 65%;
    animation: Python 3s;
}
.JS{
    width: 70%;
    animation: JS 3s;
}
.Lara{
    width: 30%;
    animation: Lara 3s;
}
@keyframes html{
    0%{
        width: 0%;
    }
    100%{
        width: 90%;
    }
}
@keyframes C{
    0%{
        width: 0%;
    }
    100%{
        width: 85%;
    }
}
@keyframes java{
    0%{
        width: 0%;
    }
    100%{
        width: 40%;
    }
}
@keyframes Python{
    0%{
        width: 0%;
    }
    100%{
        width: 65%;
    }
}
@keyframes JS{
    0%{
        width: 0%;
    }
    100%{
        width: 70%;
    }
}
@keyframes Lara{
    0%{
        width: 0%;
    }
    100%{
        width: 30%;
    }
}
.prof{
    width: 70%;
    height: 44%;
    margin: 60px auto;
    color: #fff;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(26, 26, 26, 0.25),0 10px 10px rgba(224, 212, 212, 0.22);
    background-color: rgb(36, 36, 36);
}
.hhh{
    color: #fff;
}
.progress{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    border: 2px solid none;
    box-shadow: #777;
    margin: 15px;
}
.conta{
    position: relative;
    width: 900px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 40px;
}
.conta .carr{
position: relative;
width: 250px;
height: 300px;
background: linear-gradient(black,rgb(49, 49, 49));
display: flex;
justify-content: center;
align-items: center;
border-radius: 4px;
text-align: center;
overflow: hidden;
transition: 0.5s;
box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25),0 10px 10px rgba(224, 212, 212, 0.22);
}
.conta .carr:hover{
    transform: translateY(-10px);
    box-shadow: 0 15px 35px rgba(0,0,0,.5);
}
.conta .carr:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.03);
    pointer-events: none;
    z-index: 1;
}
.conta .carr .percent{
    position: relative;
}
.percent .num11{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.percent .num11 h2{
    color: #777;
    font-weight: 700;
    font-size: 40px;
    transition: 0.5s;
}
.carr:hover .percent .num11 h2{
    color: #fff;
    font-size: 55px;
}
.percent .num11 h2 span{
    font-size: 24px;
    color: #777;
    transition: 0.5s;
}
.text3 {
    position: relative;
    color: #cfb6b6;
    margin-top: 20px;
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
}
.carr:hover .text3{
    color: #fff;
}
.conta .carr .percent svg{
    position: relative;
    width: 150px;
    height: 150px;
    z-index: 1000;
    transform: rotate(270deg);
}
 .carr .percent svg circle{
    width: 100%;
    height: 100%;
    fill: none;
    stroke-width: 10;
    stroke-linecap: round;
    stroke: #b99e9e;
    transform: translate(5px,5px);
}
.carr .percent svg circle:nth-child(2){
    stroke-dasharray: 440;
   stroke-dashoffset: 440;
}
.carr:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (400 * 90) / 100);
    stroke: rgb(211, 23, 23);
}
.carr:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (400 * 80) / 100);
    stroke: #1f22d1;
}
.carr:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (400 * 65) / 100);
    stroke: #00ff43;
}
.carr:nth-child(4) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (400 * 50) / 100);
    stroke: #e9228f;
}
.dott{
    position: absolute;
    inset: 5px;
    z-index: 10;
}
.dott::before{
    content: '';
    position: absolute;
top: -5px;
left: 50%;
transform: translateX(-50%);
width: 10px;
height: 10px;
border-radius: 50%;
background: var(-clr);
box-shadow: 0 0 10px var(--clr);
}
