*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(black,gray);
}

.mh-skills .mh-professional-skill{
    padding-right: 60px;
    color: aliceblue;
}
.mh-skills .mh-professional-skill h3{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
    font-family:'Times New Roman', Times, serif;
}
.mh-professional-skills{
    padding-left: 20%;
    color: #fff;
}
.mh-professional-skills h3{
    font-size: 30px;
    line-height: 40px;
    text-align: center;
    font-weight: 400;
    margin-bottom: 60px;
    font-family:'Times New Roman', Times, serif;
    color: #fff;
}
.mh-professional-progress li{
    display: inline-block;
    margin: 0 auto;
    float: none;
    width: 48%;
    margin-bottom: 30px;
    text-align: center;
}
.mh-progress{
    margin-bottom: 10px;
    font: 900 1.14285/1;
}
.mh-progress .progressbar-text{
    color: inherit !important;
    font-family:sans-serif;
}
.progress.progress-line{
    height: 10px;
    margin-right: 60px;
}
.progress.progress-line.progress-text{
    position: absolute;
    top: 50%;
    left: 100%;
    width: 60px;
    transform: translateY(-35%);
    text-align: center;
    font-family: sans-serif;
}
.mh-progress.mh-progress-circle{
    display: inline-block;
    width: 100px;
    height: 100px;
}
.mh-progress path:nth-child(1){
    stroke: rgba(0,0,0,0.7);
}
.mh-progress path:nth-child(2){
    stroke: #fff !important;
}
.candidatos{
    position: relative;
    margin-bottom: 15px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.candidatos .parcial{
    display: inline-block;
    width: 100%;
    vertical-align: middle;
}
.candidatos .parcial .info{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}
.candidatos .parcial .info .nome{
position: absolute;
top: 0;
left: 0;
font-size: 15px;
font-weight: 600;
opacity: 0.9;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.candidatos .parcial .info .percentage-num{
    position:absolute;
    top:0;
    right: 0;
    font-size: 14px;
    font-weight: normal;
}
.candidatos .parcial .progressBar{
    position: relative;
    width: 100%;
    height: 7px;
    margin: 30px 0 2px;
    border-radius: 10px;
    background: rgba(0,0,0,0.5);
}
.candidatos .parcial .percentagem{
    position: absolute;
    top: 0;
    left: 0;
    left: 0;
    height: 7px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background: #d15454;
    -webkit-transition: 3s all;
    -webkit-animation-duration: 3s;
    -webkit-animation-name: animationProgress;
    font-family: 'Times New Roman', Times, serif;
}
.precentual{
    animation-name: animationProgress;
}
@keyframes animationProgress{
    from{
        width: 0;
    }
    
}